.relative {
 position: relative;
}
.clear-margin {
 margin: 0;
}
.space-top {
 margin-top: 10px;
}
.space-right {
 margin-right: 10px;
}
.icon-left {
 margin-right: 5px;
}
.icon-right {
 margin-left: 5px;
}
.labels {
 word-spacing: 5px;
 line-height: 2;
}

.label-keyword {
 display: inline-block;
 background: #7eb0db;
 color: white;
 font-size: 0.9em;
 padding: 5px;
 border: 1px solid #357ebd;
}
.link-disguise {
 color: inherit;
}
.link-disguise:hover {
 color: inherit;
}
.clear-margin {
 margin: 0;
}
@media (max-width: 992px) {
 .clear-margin-sm {
   margin-bottom: 0;
 }
}
body {
 font-family: 'Lato';
 background: #f0f0f0;
 color: #333333;
}
.main {
 padding: 5px;
}

.text-bolder {
 font-weight: bold;
}
.background-details .detail {
 display: table;
 padding: 10px 0;
}
.background-details .detail .icon {
 min-width: 45px;
 max-width: 45px;
 text-align: center;
}
.background-details .detail .info {
 width: 100%;
}
.background-details .detail .title,
.background-details .detail .icon {
 color: #707070;
}
.background-details .detail .mobile-title {
 display: none;
}
@media (max-width: 480px) {
 .background-details .detail .mobile-title {
   display: inline-block;
   margin-left: 5px;
   font-weight: bold;
   text-transform: uppercase;
   vertical-align: middle;
 }
}
.background-details .detail .icon,
.background-details .detail .info {
 display: table-cell;
 padding: 0 10px;
}
@media (max-width: 480px) {
 .background-details .detail {
   display: block;
 }
 .background-details .detail .icon {
   max-width: inherit;
   min-width: inherit;
   text-align: left;
 }
 .background-details .detail .icon,
 .background-details .detail .info {
   display: block;
   padding: 10px 0;
 }
 .background-details .detail .title {
   display: none;
 }
}
.info .content.has-sidebar {
 width: 80%;
 box-sizing: border-box;
 float: left;
 padding: 0 10px;
 border-right: 1px solid #cdcdcd;
}
@media (max-width: 992px) {
 .info .content.has-sidebar {
   width: 100%;
   border-right: 0;
 }
}
@media (max-width: 480px) {
 .info .content.has-sidebar {
   padding: 0 2px;
 }
}
.info .sidebar {
 margin-left: 80%;
 box-sizing: border-box;
 padding: 10px;
}
@media (max-width: 480px) {
 ul {
   padding-left: 25px;
 }
}
.current-event {
 font-size: 8px;
 color: #5ACE24;
 position: absolute;
 right: 100%;
 top: 4px;
 left: -10px;
}
@media (max-width: 992px) {
 .profile-card-wrapper {
   position: relative;
 }
}
.profile-pic {
 padding: 20px 0;
}
@media (max-width: 992px) {
 .profile-pic {
   padding: 10px 0;
 }
}
.profile-pic img {
 width: 200px;
 height: 200px;
}
@media (max-width: 992px) {
 .name {
   margin-top: 10px;
 }
}
@media (max-width: 768px) {
 .quote {
   font-size: inherit;
 }
}
@media print {
 a[href]:after {
   content: none !important;
 }
 .profile-card {
   text-align: center;
 }
 .profile-pic {
   display: inline-block;
   vertical-align: middle;
 }
 .profile-pic img {
   border-radius: 0;
 }
 .name-and-profession {
   display: inline-block;
   vertical-align: middle;
   margin-left: 15px;
 }
 .contact-details .detail {
   position: relative;
   float: left;
   width: 25%;
   min-height: 1px;
   padding-left: 15px;
   padding-right: 15px;
   padding: 0;
 }
 .floating-nav,
 .floating-nav-trigger {
   display: none;
 }
 .pagebreak {
   page-break-before: always;
 }
}
