@media (max-width: 768px) {
 .contact-details {
   text-align: center;
 }
}
.contact-details .detail {
 display: table;
 padding: 10px 0;
}
.contact-details .detail .icon {
 padding: 0 10px;
 color: #707070;
}
@media (max-width: 992px) {
 .contact-details .detail .icon {
   padding: 0 5px 0 0;
 }
}
.contact-details .detail .info {
 font-size: 0.8em;
}
.contact-details .detail .icon,
.contact-details .detail .info {
 display: table-cell;
 vertical-align: middle;
}
@media (max-width: 768px) {
 .contact-details .detail {
   position: relative;
   float: left;
   width: 100%;
   min-height: 1px;
   padding-left: 15px;
   padding-right: 15px;
 }
}
@media (max-width: 992px) {
 .contact-details .detail {
   position: relative;
   min-height: 1px;
   padding-left: 15px;
   padding-right: 15px;
   padding: 10px;
 }
 .contact-details .detail .icon,
 .contact-details .detail .info {
   display: inline-block;
 }
}
@media (max-width: 992px) and (min-width: 768px) {
 .contact-details .detail {
   float: left;
   width: 25%;
 }
}
